

<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>E-mail</th>
      <th>Situação</th>
    </tr>
  </thead>
  <tbody *ngFor="let cli of homeService.clienteList?.cliente">
    <tr>
      <td>{{cli.nome}}
        <td>{{cli.cpf}}</td>
        <td>{{cli.email}}</td>
        <td *ngIf="cli.situacao == 0"> Inativo</td>
        <td *ngIf="cli.situacao == 1"> Ativo</td>
        <td>
          <label *ngFor="let tel of homeService.clienteList?.telefones">
            <td *ngIf="cli.cpf ==tel.clientecpf">Telefone : {{tel.numtelefone}}
            </td>
          </label>
        </td>
        <td>
          <a class="btn" (click)="editarCliente(cli)">
            <i>Edit</i>
          </a>
        </td>
        <td>
          <a class="btn text-danger" (click)="deleteCliente(cli)">
            <i>Del</i>
          </a>
        </td>
    </tr>
  </tbody>
</table>